<div class="container mb-4">
    <h1 class="mb-2">{{item.name}}</h1>
    <div class="bread-crumbs mb-4">
        <a href="/{{shop.url}}/">Главная</a> 
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"></path></svg>
        <a href="/{{shop.url}}/catalog/section/{{catogory.id}}">{{catogory.name}}</a>
    </div>
    <div class="row mb-4">
        <div class="col-md-7">
            <div class="image mb-4">
                <img src="{{item.picture}}" class="img-fluid">
            </div>

            {{#if item.description}}
                <div class="mb-4">
                    {{!-- <h2>Описание</h2> --}}
                    <div id="editorjs" class=""></div>
                </div>

                    <script src="/js/editorjs/editor.js"></script><!-- editor -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

                    <script>
                        const saveButton = document.getElementById('saveButton');

                        var editor = new EditorJS({
                        instead: 'editorjs',
                        tools: {
                            header: {
                            class: Header,
                            inlineToolbar: ['link'],
                            config: {
                                placeholder: 'Header'
                            },
                            shortcut: 'CMD+SHIFT+H'
                            },
                            image: {
                            class: SimpleImage,
                            inlineToolbar: ['link'],
                            },
                            list: {
                            class: List,
                            inlineToolbar: true,
                            shortcut: 'CMD+SHIFT+L'
                            },
                            checklist: {
                            class: Checklist,
                            inlineToolbar: true,
                            },
                            quote: {
                            class: Quote,
                            inlineToolbar: true,
                            config: {
                                quotePlaceholder: 'Enter a quote',
                                captionPlaceholder: 'Quote\'s author',
                            },
                            shortcut: 'CMD+SHIFT+O'
                            },
                            warning: Warning,
                            marker: {
                            class:  Marker,
                            shortcut: 'CMD+SHIFT+M'
                            },
                            code: {
                            class:  CodeTool,
                            shortcut: 'CMD+SHIFT+C'
                            },
                            delimiter: Delimiter,
                            inlineCode: {
                            class: InlineCode,
                            shortcut: 'CMD+SHIFT+C'
                            },
                            linkTool: LinkTool,
                            embed: Embed,
                            table: {
                            class: Table,
                            inlineToolbar: true,
                            shortcut: 'CMD+ALT+T'
                            },
                        },
                        data: 
                            {{encodeMyString item.description}}
                        ,
                        onReady: function(){
                            //saveButton.click();
                        },
                        onChange: function() {
                            //console.log('something changed');
                        }
                        });

                    </script>
                {{/if}}
        </div>
        <div class="col-md-4 offset-md-1">
            <form method="POST" class="item-right-bar xs-hide">
                {{#if item.articul}}<div class="articul mb-3">Артикул {{item.articul}}</div>{{/if}}
                <div class="mb-3">
                    Цена:<br>
                    <span class="price js-price">{{item.price}}</span>
                </div>
                {{#each item.properties}}
                  {{#if key}}
                    <div class="mb-3">
                        <label for="prop{{@key}}" class="form-label">{{key}}</label>
                        <select class="form-select" id="prop{{@key}}" name="prop[{{key}}]">
                            {{#each this.val}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                  {{/if}}
                {{/each}}
                <input type="hidden" name="shop" value="{{shop.url}}">
                <input type="hidden" name="item_id" value="{{item.id}}">
                <input type="hidden" name="name" value="{{item.name}}"> 
                <input type="hidden" name="price" value="{{item.price}}"> 
                <input type="hidden" name="_csrf" value="{{csrf}}">

                <button type="submit" class="btn btn-primary btn-lg">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                            </svg>
                    В корзину
                </button>
            </form>
        </div>
    </div>
</div>

<div class="buy-button-block-mobile">
    <form method="POST" class="item-right-bar">
        <div class="h-line" id="js-showAllProps"></div>
        {{#if item.articul}}<div class="articul mb-1 xs-prop">Артикул {{item.articul}}</div>{{/if}}
        <div class="mb-3">
            Цена:<br>
            <span class="price js-price">{{item.price}}</span>
        </div>
        {{#each item.properties}}
            {{#if key}}
            <div class="mb-2 xs-prop">
                <label for="prop{{@key}}" class="form-label">{{key}}</label>
                <select class="form-select" id="prop{{@key}}" name="prop[{{key}}]">
                    {{#each this.val}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
        {{/each}}   
        <input type="hidden" name="shop" value="{{shop.url}}">
        <input type="hidden" name="item_id" value="{{item.id}}">
        <input type="hidden" name="name" value="{{item.name}}"> 
        <input type="hidden" name="price" value="{{item.price}}"> 
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button type="submit" class="btn btn-primary btn-block">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                    </svg>
            В корзину
        </button>
    </form>
</div>



