<div class="container">
    <h1 class="text-center p-2">{{catogory.name}}</h1>

<section class="catalog-items">
        <div class="row">
            {{#each catalog}}
                <div class="col-md-3 col-6 mb-4">
                    <div class="catalog-card">
                        <div class="catalog-card__image">
                            <a href="/{{../shop.url}}/catalog-detail/{{id}}"><img src="{{picture}}" alt="{{name}}"></a>
                        </div>
                        <a href="/{{../shop.url}}/catalog-detail/{{id}}" class="catalog-card__title mb-1">{{name}}</a>
                        <span class="js-price">{{price}}</span>
                        <button 
                                data-shop="{{../shop.url}}" 
                                data-id="{{id}}" 
                                data-name="{{name}}" 
                                data-price="{{price}}" 
                                data-csrf="{{../csrf}}"
                                class="btn btn-outline-primary js-btn-add-cart"
                                type=""
                            >В корзину</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>



</div>