<div class="row">
    <div class="col-md-12">
        <div class="block-style p-4">
                {{#if error}}
                    <div class="alert alert-danger">{{ message}}</div>
                {{/if}}
                {{#if success}}
                    <div class="alert alert-success">{{ message}}</div>
                {{/if}}

                <form class="js-form needs-validation g-3" method="POST" action="" enctype="multipart/form-data" >

                <div class="mb-3">
                    <label for="name" class="form-label"><b>Название товара</b></label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="true" name="active" id="active" checked>
                  <label class="form-check-label" for="active">
                    Активность
                  </label>
                </div>
                <div class="mb-3">
                    <label for="cat_id" class="form-label">Категория</label>
                    <select class="form-select" name="cat_id" id="cat_id" required>
                    {{#each cats}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="articul" class="form-label">Артикул</label>
                    <input type="text" class="form-control" id="articul" name="articul" >
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Цена</label>
                    <input type="number" class="form-control js-price-input" id="price" name="price" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <div id="editorjs" class="form-control"></div>
                    <textarea class="form-control" id="description" name="description" rows="4" style="display: none;;"></textarea>
                </div>
                <div class="form-file mb-3">
                    <input type="file" class="form-file-input" id="picture" name="file" accept="image/*" required>
                    <label class="form-file-label" for="picture">
                        <span class="form-file-text" id="js-file-picture-text">Основное изображение</span>
                        <span class="form-file-button">Выбрать</span>
                    </label>
                </div>

                {{!-- <div class="form-file mb-3">
                    <input type="file" class="form-file-input" id="pictures" name="pictures" multiple accept="image/*">
                    <label class="form-file-label" for="pictures">
                        <span class="form-file-text" id="js-file-pictures-text">Дополнительные изображения (можно выбрать несколько)</span>
                        <span class="form-file-button">Выбрать</span>
                    </label>
                </div> --}}
                <hr>
                <p><b>Свойства</b></p>
                <div id="js-properties" data-count="0">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="prop[0][key]" class="form-label">Заголовок свойства</label>
                            <input type="text" class="form-control" id="prop[0][key]" name="prop[0][key]">
                            <input type="hidden" name="prop[0][k]" value="0">
                        </div>
                        <div class="col-6">
                            <div class="mb-2">
                                <label for="prop[0][val]" class="form-label">Значения свойства</label>
                                <input type="text" class="form-control" id="prop[0][val]" name="prop[0][val][0]" >
                            </div>
                            <div id="js-div-prop0" data-cp="0"></div>
                            <button type="button" class="btn btn-secondary" id="js-addprop0">Добавить ещё свойство</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="prop[1][key]" class="form-label">Заголовок свойства</label>
                            <input type="text" class="form-control" id="prop[1][key]" name="prop[1][key]" >
                            <input type="hidden" name="prop[1][k]" value="1">
                        </div>
                        <div class="col-6">
                            <div class="mb-2">
                                <label for="prop[1][val]" class="form-label">Значения свойства</label>
                                <input type="text" class="form-control" id="prop[1][val]" name="prop[1][val][0]" >
                            </div>
                            <div id="js-div-prop1" data-cp="0"></div>
                            <button type="button" class="btn btn-secondary" id="js-addprop1">Добавить ещё свойство</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="prop[2][key]" class="form-label">Заголовок свойства</label>
                            <input type="text" class="form-control" id="prop[2][key]" name="prop[2][key]" >
                            <input type="hidden" name="prop[2][k]" value="2">
                        </div>
                        <div class="col-6">
                            <div class="mb-2">
                                <label for="prop[2][val]" class="form-label">Значения свойства</label>
                                <input type="text" class="form-control" id="prop[2][val]" name="prop[2][val][0]" >
                            </div>
                            <div id="js-div-prop2" data-cp="0"></div>
                            <button type="button" class="btn btn-secondary" id="js-addprop2">Добавить ещё свойство</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="prop[3][key]" class="form-label">Заголовок свойства</label>
                            <input type="text" class="form-control" id="prop[3][key]" name="prop[3][key]" >
                            <input type="hidden" name="prop[3][k]" value="3">
                        </div>
                        <div class="col-6">
                            <div class="mb-2">
                                <label for="prop[3][val]" class="form-label">Значения свойства</label>
                                <input type="text" class="form-control" id="prop[3][val]" name="prop[3][val][0]" >
                            </div>
                            <div id="js-div-prop3" data-cp="0"></div>
                            <button type="button" class="btn btn-secondary" id="js-addprop3">Добавить ещё свойство</button>
                        </div>
                    </div>

                </div>
                


                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="user_id" value="{{userId}}">
                <input type="hidden" name="shopid" value="{{shop.id}}">
                <button type="submit" class="btn btn-primary" id="saveButton">Сохранить</button>
            </form>


            
        </div>
    </div>

</div>


<script src="/js/editorjs/editor.js"></script><!-- editor -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

<script>
    const saveButton = document.getElementById('saveButton');

    var editor = new EditorJS({
      holderId: 'editorjs',
      tools: {
        header: {
          class: Header,
          inlineToolbar: ['link'],
          config: {
            placeholder: 'Header'
          },
          shortcut: 'CMD+SHIFT+H'
        },
        image: {
          class: SimpleImage,
          inlineToolbar: ['link'],
        },
        list: {
          class: List,
          inlineToolbar: true,
          shortcut: 'CMD+SHIFT+L'
        },
        checklist: {
          class: Checklist,
          inlineToolbar: true,
        },
        quote: {
          class: Quote,
          inlineToolbar: true,
          config: {
            quotePlaceholder: 'Enter a quote',
            captionPlaceholder: 'Quote\'s author',
          },
          shortcut: 'CMD+SHIFT+O'
        },
        warning: Warning,
        marker: {
          class:  Marker,
          shortcut: 'CMD+SHIFT+M'
        },
        code: {
          class:  CodeTool,
          shortcut: 'CMD+SHIFT+C'
        },
        delimiter: Delimiter,
        inlineCode: {
          class: InlineCode,
          shortcut: 'CMD+SHIFT+C'
        },
        linkTool: LinkTool,
        embed: Embed,
        table: {
          class: Table,
          inlineToolbar: true,
          shortcut: 'CMD+ALT+T'
        },
      },
      onReady: function(){
        saveButton.click();
      },
      onChange: function() {
        console.log('something changed');
      }
    });

    saveButton.addEventListener('click', function () {
      editor.save().then((savedData) => {
        document.getElementById('description').value = JSON.stringify(savedData);
      });
    });
</script>