<div class="row">
    <div class="col-md-6">
        <div class="block-style p-4">
            <h4>Редактировать информацию</h4>
            <form class="js-form needs-validation g-3" method="POST" action="">
                {{#if error}}
                    <div class="alert alert-danger">{{ message}}</div>
                {{/if}}
                {{#if success}}
                    <div class="alert alert-success">{{ message}}</div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <label for="validation-email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="email" id="validation-email" value="{{user.email}}" required>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="validation-password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" name="password" id="validation-password" value="">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="validation-name" class="form-label">ФИО</label>
                        <input type="text" class="form-control" name="name" id="validation-name" value="{{user.name}}" required>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="inputPhone" class="form-label">Телефон</label>
                        <input type="text" class="form-control" name="phone" id="inputPhone" value="{{user.phone}}" required>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="id" value="{{userId}}">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block-style p-4">
            <h4>Тарифный план</h4>
            <form method="POST" action="/panel/profile/change_tarif" class="mb-4">
                <select class="form-select mb-2" name="tarif_id" id="js-select-tarif">
                    <option value="2"{{#if_eq user.tarif_id 2}} selected{{/if_eq}}>Бесплатный</option>
                    <option value="3"{{#if_eq user.tarif_id 3}} selected{{/if_eq}}>990 р/месяц</option>
                    <option value="4"{{#if_eq user.tarif_id 4}} selected{{/if_eq}}>1 980 р/месяц</option>
                </select>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="id" value="{{userId}}">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <div id="js-card-2" class="card js-tarif-hide"{{#if_eq user.tarif_id 2}} style="display: block;"{{else}} style="display: none;"{{/if_eq}}>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item check-check"><strong>50</strong> товаров</li>
                    <li class="list-group-item check-check">Панель управления</li>
                    <li class="list-group-item check-check">Аналитика</li>
                    <li class="list-group-item check-check">Уведомления на почту</li>
                </ul>
            </div>
            <div id="js-card-3" class="card js-tarif-hide"{{#if_eq user.tarif_id 3}} style="display: block;"{{else}} style="display: none;"{{/if_eq}}>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item check-check"><strong>200</strong> товаров</li>
                    <li class="list-group-item check-check">Панель управления</li>
                    <li class="list-group-item check-check">Аналитика</li>
                    <li class="list-group-item check-check">Уведомления на почту</li>
                    <li class="list-group-item check-check">Уведомления о заказах в мессенджеры</li>
                </ul>
            </div>
            <div id="js-card-4" class="card js-tarif-hide"{{#if_eq user.tarif_id 4}} style="display: block;"{{else}} style="display: none;"{{/if_eq}}>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item check-check"><strong>Безграничное</strong> число товаров</li>
                    <li class="list-group-item check-check">Панель управления</li>
                    <li class="list-group-item check-check">Аналитика</li>
                    <li class="list-group-item check-check">Уведомления на почту</li>
                    <li class="list-group-item check-check">Уведомления о заказах в мессенджеры</li>
                    <li class="list-group-item check-check">Добавление своих javascript кодов (Я.Метрика, Jivosite и т.д.)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
